{% extends 'base.html.twig' %}

{% block title %}Listing authors{% endblock %}

{% block body %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">firstName</th>
            <th scope="col">lastName</th>
            <th scope="col">birthDate</th>
            <th scope="col">death</th>
            <th scope="col">biography</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in authors %}
            <tr>
                <th scope="row">{{ value.id }}</th>
                <td>{{ value.firstName }}</td>
                <td>{{ value.lastName }}</td>
                <td>@{{ value.birthDate }}</td>
                <td>@{{ value.death }}</td>
                <td>@{{ value.biography }}</td>
                <td><a href={{path("authors_details", {'id': value.id}) }}>See more</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
